html,
body {
  --color1: rgb(0, 0, 25);
  --color2: #00ceb8;
  --color3: midnightblue;
  --color4: #1a1c20;
  --color5: #4169e1;
  --color6: rgb(50, 50, 50);
  --sticky1: 0rem;
  --sticky2: 7rem;
  --sticky3: 14rem;
  --qb: #ff2a6d;
  --rb: #00ceb8;
  --wr: #58a7ff;
  --te: #ffae58;
  --font1: "Ubuntu Mono", sans-serif;
  --font2: "Pulang", sans-serif;
  --font3: "GROUPE", sans-serif;
  --font4: "Monomaniac One", sans-serif;
  font-size: 1vmin;
  background-color: var(--color1);
  text-align: center;
  color: white;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu Mono", sans-serif;
  margin: auto;
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.fa-spinner {
  font-size: inherit;
  color: var(--color2);
  text-shadow: 0 0 1rem black;
}
