html,
body {
  --color1: rgb(0, 0, 25);
  --color2: #00ceb8;
  --color3: midnightblue;
  --color4: #1a1c20;
  --color5: #4169e1;
  --color6: rgb(50, 50, 50);
  --sticky1: 0rem;
  --sticky2: 7rem;
  --sticky3: 14rem;
  --qb: #ff2a6d;
  --rb: #00ceb8;
  --wr: #58a7ff;
  --te: #ffae58;
  --font1: "Ubuntu Mono", sans-serif;
  --font2: "Pulang", sans-serif;
  --font3: "GROUPE", sans-serif;
  --font4: "Monomaniac One", sans-serif;
  font-size: 1vmin;
  background-color: var(--color1);
  text-align: center;
  color: white;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu Mono", sans-serif;
  margin: auto;
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  margin: 1rem auto;
  font-family: var(--font2);
  letter-spacing: 0.5rem;
  color: var(--te);
}

a {
  text-decoration: none;
  color: inherit;
}

a.home {
  font-size: 3rem;
  position: absolute;
  padding: 3rem;
  top: 0;
  left: 0;
}

i.fa-circle-question {
  font-size: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 3rem;
  color: rgb(255, 255, 0);
  background-color: rgb(0, 0, 255);
  border-radius: 50%;
  box-shadow: inset 0 0 1rem black;
}

p {
  margin: 0;
}

ol {
  list-style: none;
}

option {
  background-color: gray;
  color: black;
  text-align: center;
  font-weight: 900;
}

.left {
  text-align: left;
}

.fa-spinner {
  font-size: inherit;
  color: var(--color2);
  text-shadow: 0 0 1rem black;
}

.greenb {
  box-shadow: inset 0 0 5rem rgb(0, 255, 0);
}

.redb {
  box-shadow: inset 0 0 5rem rgb(255, 0, 0);
}

h3 {
  font-family: var(--font2);
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: var(--wr);
}

.relative {
  position: relative;
}

div.legend {
  width: 50%;
  margin: auto;
}

div.legend > div {
  width: 50%;
  text-align: left;
  padding-left: 5%;
}

div.legend > div > strong {
  color: yellow;
}
table.legend {
  box-shadow: 0 0 1rem white;
}
table.legend td {
  font-size: 2.5rem;
  height: auto;
  text-align: left;
  white-space: wrap;
  padding: 2rem;
  box-shadow: inset 0 0 1rem silver;
  background-color: maroon;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color2);
}

.rotate {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    /* Start with no rotation (0 degrees) */
  }

  100% {
    transform: rotate(360deg);
    /* Rotate the element 360 degrees for a full rotation */
  }
}
