table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  table-layout: fixed;
  width: 100%;
}

thead {
  filter: drop-shadow(0 0 1rem silver);
  position: sticky;
}

table.primary > thead {
  top: 0;
  z-index: 10;
}
th {
  background-image: radial-gradient(white -250%, black 100%);
  box-shadow: inset 0 0 1rem black;
  font-weight: 700;
  font-size: 3rem;
  height: 7rem;
  overflow: visible;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

th > span {
  text-align: center;
}

td > span.image {
  text-align: left;
}

td > span.stat {
  font-family: var(--font4);
  font-size: 4rem;
  text-shadow: 0 0 1rem black;
}

th > span,
td > span {
  padding: 1rem;
  margin: auto;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  text-shadow: 0 0 1rem black;
  overflow: hidden;
  position: relative;
}

td:hover {
  overflow: visible;
}

td:hover > span,
th:hover > span {
  overflow: visible;
  z-index: 1;
  width: fit-content;
  min-width: 100%;
  background-color: black;
  color: var(--te);
  box-shadow: 0 0 1rem white;
}

td.primary:last-child:hover,
th:last-child:hover {
  direction: rtl;
}

td.primary:last-child:hover > span,
th:last-child:hover > span {
  direction: ltr;
}
tbody {
}

tr {
}

td {
  box-shadow: inset 0 0 1rem black;
  font-size: 3rem;
  height: 7rem;
  white-space: nowrap;
  width: 100%;
  overflow: visible;
}

table.primary {
}

td.primary {
  background-image: radial-gradient(var(--wr) -300%, var(--color4) 100%);
}

ol.page_numbers {
  background-color: var(--color1);
  display: flex;
  filter: drop-shadow(0 0 0.2rem silver);
  font-size: 3rem;
  margin: auto;
  max-width: 80%;
  overflow: auto;
  padding: 1rem 0;
  width: fit-content;
}

ol.page_numbers > li {
  box-sizing: border-box;
  opacity: 0.25;
  margin: 0 1rem;
  padding: 2rem;
}

ol.page_numbers > li.active {
  border: 0.1rem ridge var(--color2);
  box-sizing: border-box;
  margin: 0 1rem;
  opacity: 1;
  padding: 2rem;
}
