select.hidden_behind {
  bottom: 0;
  left: 0;
  color: transparent;
  background-color: transparent;
  border: 1rem ridge var(--color4);
  box-shadow: inset 0 0 1rem var(--wr);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  font-size: inherit;
  z-index: 1;
}
