table.primary.trades tr.active {
  filter: unset;
}

table.trade_summary {
  border: 0.5rem ridge gray;
}

table.primary.trades table,
table.primary.trades thead,
table.primary.trades tr.active,
table.primary.trades td {
  position: static;
}

table.primary.trades
  table.body.active
  table.trade_summary
  > tbody
  > tr:first-child {
  position: sticky;
  top: 7rem;
  z-index: 9;
}

table.primary.trades table.body.active > tbody {
  position: sticky;
  top: 7rem;
  z-index: 9;
}

table.primary.trades table.secondary.trade_tips > thead,
table.primary.trades table.secondary.half > thead {
  position: sticky;
  top: 21rem;
  z-index: 8;
}

table.primary.trades div.secondary.trade_tips,
table.primary.trades table.secondary.trade_tips > tbody > tr,
table.primary.trades table.secondary.half > tbody > tr {
  position: sticky;
  top: 14rem;
  z-index: 7;
}

table.primary.trades table.secondary.half > tbody > tr {
  background-color: var(--color1);
}
table.primary.trades table.body.active tr.active2 > td {
  box-shadow: none;
}

table.trade_summary td {
  background-image: radial-gradient(var(--wr) -300%, var(--color4) 100%);
}

tr.active_wrapper table.trade_summary td,
tr.active_wrapper span.trade_total {
  background-image: radial-gradient(var(--color4) -50%, var(--color2) 100%);
}

table.trade_info > tbody > tr > td:last-child:hover {
  direction: rtl;
}

table.trade_info > tbody > tr > td:last-child:hover > span {
  direction: ltr;
}

table.trades td > span.stat {
  font-size: 3.5rem;
}

span.trade_total {
  font-family: var(--font2);

  font-size: 4rem;
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 5rem gray;
}

td.trade_league > span {
  text-align: center;
}
td.trade_league:hover > span {
  text-align: center;
}

table.trade_summary td.type {
  color: goldenrod;
  font-family: var(--font2);
  font-size: 2.5rem;
}

table.trade_summary span.timestamp {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

td.trade_tips:last-of-type:hover {
  direction: rtl;
}
td.trade_tips:last-of-type:hover > span {
  direction: ltr;
}
