div.nav {
  height: 7rem;
  position: sticky;
  top: 14rem;
  z-index: 8;
  background-image: radial-gradient(white -250%, black 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3rem;
  filter: drop-shadow(0 0 1rem white);
}

div.nav.nav3 {
  top: 35rem;
  z-index: 5;
}
div.nav > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  box-shadow: inset 0 0 2rem black;
  height: 100%;
  padding: 0;
}

div.nav div.button {
  color: gray;
  padding: 0 1rem;
  border: 0.5rem groove gray;
  font-weight: 500;
  box-shadow: 0 0 2rem black;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.nav div.button.active {
  color: var(--color1);
  border-color: var(--color1);
  box-shadow: inset 0 0 5rem var(--color3);
}

div.nav div.button > select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
div.nav div.sync {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.nav i.fa-arrows-rotate {
  color: yellow;
  font-size: 7rem;
  left: 0;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.rotate {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    /* Start with no rotation (0 degrees) */
  }

  100% {
    transform: rotate(360deg);
    /* Rotate the element 360 degrees for a full rotation */
  }
}
