a.home {
  font-size: 2rem;
  padding: 2rem;
  display: block;
  font-family: var(--fontPulang);
}

div.heading div.avatar {
  margin: auto;
  width: fit-content;
  position: relative;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 7rem;
  color: var(--color1);
  font-family: var(--fontPulang);
  letter-spacing: 0.5rem;
  text-shadow: 0 0 1rem black;
}

div.heading div.avatar > img.avatar {
  position: absolute;
  height: 15rem;
  width: 15rem;
  z-index: -1;
  box-shadow: 0 0 3rem white;
}

div.switch_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

div.switch {
  display: flex;
  width: 45rem;
  background-image: radial-gradient(gray 0%, rgb(60, 59, 59) 100%);
  box-shadow: inset 0 0 3rem var(--color2);
  border-radius: 2rem;
  border: 0.25rem double var(--color3);
}

button.sw {
  font-size: 4rem;
  width: 17.5rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: transparent;
  font-family: var(--fontChill);
}

button.sw:nth-last-of-type(2) {
  width: 10rem;
  border-radius: unset;
}

button.sw.active {
  color: white;
  background-color: var(--color2);
  box-shadow: inset 0 0 2rem var(--color1);
  border: 0.5rem ridge var(--color1);
}

h2,
h2 > select {
  background: none;
  color: var(--color1);
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

h2.nav_buttons > button {
  font-size: 3rem;
  background-color: transparent;
  color: gray;
  margin: 2rem;
  border: 0.5rem groove gray;
  padding: 1rem;
}

h2.nav_buttons > button.active {
  color: var(--color1);
  border: 0.5rem groove var(--color1);
  box-shadow: inset 0 0 3rem var(--color3);
}

div.sh_nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
  max-width: 100%;
  flex-wrap: wrap;
  background-color: black;
  box-shadow: 0 0 2.5rem white;
}

div.sh_nav > a {
  margin: 1.5rem 3rem;
}

div.sh_nav > a:hover,
a.home:hover {
  color: var(--color2);
}

table.record {
  max-width: 80%;
  width: fit-content;
  margin: auto;
  table-layout: auto;
  box-shadow: 0 0 2rem white;
}

table.record td,
table.record th {
  font-family: var(--fontChill);
  text-align: center;
  letter-spacing: 0.25rem;

  font-size: 2.5rem;
  padding: 1rem;
}

table.record th {
  background-color: gray;
  box-shadow: inset 0 0 5rem black;
}

table.record td {
  background-color: var(--color3);
  box-shadow: inset 0 0 5rem var(--color2);
}
