div.heading {
}

a.home {
  font-size: 2rem;
  padding: 2rem;
  display: block;
}

div.heading div.avatar {
  margin: auto;
  width: fit-content;
  position: relative;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 7rem;
  color: var(--color1);
}

div.heading div.avatar > img.avatar {
  position: absolute;
  height: 15rem;
  width: 15rem;
  z-index: -1;
}

div.switch_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

div.switch {
  display: flex;
  width: 45rem;
  background-image: radial-gradient(gray 0%, rgb(60, 59, 59) 100%);
  box-shadow: inset 0 0 3rem var(--color2);
  border-radius: 2rem;
  border: 0.25rem double var(--color3);
}

button.sw {
  font-size: 4rem;
  width: 17.5rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: transparent;
}

button.sw:nth-last-of-type(2) {
  width: 10rem;
  border-radius: unset;
}

button.sw.active {
  color: white;
  background-color: var(--color2);
  box-shadow: inset 0 0 2rem var(--color1);
  border: 0.5rem ridge var(--color1);
}

h2 > select {
  background: none;
  color: var(--color1);
  font-size: 3rem;
  margin-bottom: 2rem;
}
