table.trades {
  table-layout: fixed;
  margin: auto;
  background-color: black;
  width: 100%;
  border-spacing: 0;
}

table.trades table.trade {
  border: 1rem ridge silver;
}
table.trades table td {
  font-size: 3rem;
  background-image: radial-gradient(var(--color3) -300%, var(--color4) 100%);
  box-shadow: inset 0 0 2rem black;
  text-align: center;
  padding: 1rem;
}

table.trades table td.timestamp {
  font-size: 2.5rem;
}

table.trades table tr:first-of-type td div.avatar {
  text-align: center;
}

table.trades table td.adds > div,
table.trades table td.drops > div {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

table.trades table td.adds > div > div,
table.trades table td.drops > div > div {
  text-align: left;
}

table.trades .redb {
  box-shadow: inset 0 0 5rem red;
}

table.trades .greenb {
  box-shadow: inset 0 0 5rem rgb(0, 255, 0);
}

table.trades tbody.active td {
  background-image: radial-gradient(var(--color4) -50%, var(--color1) 100%);
}

div.trades_nav {
  padding: inherit;
  background-image: radial-gradient(white -250%, black 100%);
  display: flex;
  justify-content: space-evenly;
}
